.galleryList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*align-items: center;*/
  margin: 75px 0;
  padding: 0;
  gap: 25px;
}
.galleryList li {
  width: 250px;
  height: 150px;
}
